BankService/WebContent/wsdl/BankService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://bank" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://bank" xmlns:intf="http://bank" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://bank" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="payment">
    <complexType>
     <sequence>
      <element name="rib" type="xsd:string"/>
      <element name="price" type="xsd:double"/>
      <element name="currency" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="paymentResponse">
    <complexType>
     <sequence>
      <element name="paymentReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="changePriceCurrency">
    <complexType>
     <sequence>
      <element name="price" type="xsd:double"/>
      <element name="currency" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="changePriceCurrencyResponse">
    <complexType>
     <sequence>
      <element name="changePriceCurrencyReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="paymentRequest">

      <wsdl:part element="impl:payment" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="paymentResponse">

      <wsdl:part element="impl:paymentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="changePriceCurrencyResponse">

      <wsdl:part element="impl:changePriceCurrencyResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="changePriceCurrencyRequest">

      <wsdl:part element="impl:changePriceCurrency" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="BankService">

      <wsdl:operation name="payment">

         <wsdl:input message="impl:paymentRequest" name="paymentRequest">

       </wsdl:input>

         <wsdl:output message="impl:paymentResponse" name="paymentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="changePriceCurrency">

         <wsdl:input message="impl:changePriceCurrencyRequest" name="changePriceCurrencyRequest">

       </wsdl:input>

         <wsdl:output message="impl:changePriceCurrencyResponse" name="changePriceCurrencyResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BankServiceSoapBinding" type="impl:BankService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="payment">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="paymentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="paymentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="changePriceCurrency">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="changePriceCurrencyRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="changePriceCurrencyResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BankServiceService">

      <wsdl:port binding="impl:BankServiceSoapBinding" name="BankService">

         <wsdlsoap:address location="http://localhost:8080/BankService/services/BankService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
